.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Lista{
  text-align: left;
  margin-left: 3cm;
}

.ItemE{
  float: left;
  width: 10%;
  margin-left: 2.2mm;
}

.ItemM{
  float: left;
  width: 17%

}

.ItemD{
  float: left;
  width:20%;
  
}

.ItemE2{
  float: left;
  width: 50%;
  margin-left: 2.2mm;
}

.ItemD2{
  float: left;
  width: 20%;
}

.button_css
{
  
	width: 30px;
	height: 30px;
}

.App-link {
  color: #21d109;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
