<!DOCTYPE html>
<html lang="en">

<head></head>

<body>

    <form action="/addTrade" method="POST">
        <p>Username:<input type="text" name="username"/></p>
        <p>Coin:<input type="text" name="coin"/></p>
        <p>Type:<input type="text" name="type"/></p>
        <p>Price:<input type="number" name="price"/></p>
        <p>amount:<input type="number" name="amount"/></p>
        <p><input type="submit" value="Adicionar"/></p>
    
    
    </form>
</body>
</html>